html {
  margin: 36px;
  border: 2px #333333 solid;
  padding: 24px;
  background-color: #abcdef;
  color: #000066;
  font-family: serif;
  background-image: url("images.jpg");
  background-repeat: repeat;
}
h1 {
  color: #8d33ff;
  background-color: #aaaaff;
  text-align: center;
  word-spacing: 24px;
}
h2 {
  border-style: ridge;
  border-color: blue;
  border-width: 4px;
  padding: 24px 16px 12px 6px;
  margin: 20px;
  text-align: center;
  letter-spacing: 6px;
}
span.name {
  font-weight: 900;
  font-style: italic;
}
p {
  text-indent: 50%;
  text-transform: none;
}
a.off {
  border: outset;
  color: #000000;
  background-color: #ffffff;
}
a.on {
  border: inset;
  color: #ffffff;
  background-color: #000000;
}
